ServerSignature off
Options -Indexes
DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
 RewriteEngine on

 RewriteRule ^.htaccess$ - [F]
 
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}index.html -f
 RewriteRule ^(.*)$ $1index.html [NC,L,NS]
 
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
 RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}index.php -f
 RewriteRule ^(.*)$ $1index.php [NC,L,NS]

 RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
 RewriteRule ^(.*)$ /fail.php$2 [S=1,R]
</IfModule>